<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Progress Assessment</title>
    <link rel="icon" type="image/x-icon" href="../static/UofG_Coat_of_Arms.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a id="logo" href="#"><img src="../static/University-of-Glasgow.png" alt="UofG logo" width="180" height="65"></a>
            <a id="logo2" href="#"><img src="../static/UofG_Coat_of_Arms.png" alt="UofG logo" height="65"></a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('welcome') }}">Home</a></li>
                <li><a href="{{ url_for('information') }}">About</a></li>
                <li><a href="{{ url_for('data_collection') }}">Data</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="paragraph">
            <h2>Why monthly progress assessment is crucial</h2>
            <p>At Glasgow International College (GIC), we value continuous improvement and strive to provide the best possible academic experience for our students. The purpose of collecting data on student progress is to:</p>
            <ul>
                <li>Assess the effectiveness of our academic programs and curriculum.</li>
                <li>Identify areas for improvement in teaching and learning methods.</li>
                <li>Monitor student performance and identify at-risk students who may need additional support.</li>
                <li>Evaluate the overall satisfaction of students with their academic experience at GIC.</li>
                <li>Inform decision-making processes to enhance the quality of education provided.</li>
            </ul>
            <p>By collecting and analyzing data on student progress, we can make informed decisions to improve the academic outcomes and overall student experience at GIC. Your participation in this data collection process is crucial in helping us achieve our goals of academic excellence and student success.</p>
            <a href="{{ url_for('data_collection') }}"><button class="button" style="vertical-align:middle"><span>Next</span></button></a>
        </div>
        <footer>
            Glasgow International College<br>
            Personal number: P437036<br>
        </footer>
    </div>
</body>
</html>